

.article_blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    width: 304px;
    height: 300px;
    margin-bottom: 64px;
}

.article_text {
    font-weight: 500;
    font-size: 22px;
    color: inherit;
    width: 262px;
    line-height: 26.4px;
    text-align: center;
    
    font-family: SF Pro Display;
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: none;
}

.article_img {
    width: 100;
    object-fit: cover;
}