/*.header {
    
    max-width: 1440px;
    top: 0;
    left: 0;
    height: 133px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.16);
    z-index: 50;
    
}*/

.header_container {
    max-width: 1440px;
    margin: 0 auto;
    height: 133px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header {
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.16);
    z-index: 50;
    position: sticky;
    background-color: white;
}

.logo {
    color: inherit;
    font-size: 30px;
    
    margin-left: 63.58px;
}

.logo_image {
    width: 395.83px;
    height: 37.53px;
}

.header_menu {
    
    margin-right: 63.58px;
    margin-left: 476.59px;
    width: 443px;
    
}



.menu_list {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.menu_text {
    text-decoration: none;
    font-size: 20px;
    font-family: New York Small; 
    font-weight: 500;
    color: inherit;
}

a.menu_text:hover {
    border-bottom: 3px solid  #000000;
    color: #5b26e3;
}

